@import url('https://fonts.googleapis.com/css?family=Noto+Serif&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');

.DefaultApp{
  position:absolute;
  min-width:100%;
  min-height: 100vh;
  text-align: center;
  font-family: 'Noto Serif', sans-serif;
  background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url("images/forest.jpg") no-repeat;
  background-size: 100vw 60vh;
}

.LoginApp {
  position:absolute;
  overflow: auto;
  min-width:100%;
  min-height: 100%;
  text-align: center;
  font-family: 'Noto Serif', sans-serif;
  background: url("images/Login.jpg") center/cover no-repeat;
}

.AppointmentApp{
  position:absolute;
  overflow: auto;
  min-width:100%;
  min-height: 100%;
  text-align: center;
  font-family: 'Noto Serif', sans-serif;
  background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ),  url("images/Unimelb.jpg") no-repeat;
  background-size: 100vw 80vh;
}

.VaccinesApp{
  position:absolute;
  min-width:100%;
  min-height: 100vh;
  text-align: center;
  font-family: 'Noto Serif', sans-serif;
  background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url("images/Vaccines.jpg") no-repeat;
  background-size: 100vw 60vh;
}


.navbar{
  height : 200px;
  margin-top: 50px;
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: 10% 90%;
  justify-items: center;
  align-items: center;
}

.navbar div{
  justify-self: end;
}

.links{
  font-size: 24px;
  text-decoration: none;
  color: white;
  text-shadow: 0 0 2px;
  margin: 100px;
}

.links:Hover{
  box-shadow: 4px 4px #094183;
  color:#094183;
}

.message{
  font-size: 20px;
  padding-bottom: 20px;
  text-shadow: 0 0 1px;
  margin-left: 300px;
  text-align: start;
  color: white;
}

.login{
  position:relative;
  margin-top: 100px;
  left: 35%;
  width: 30%;
  height: 400px;
  background: white;
  display: grid;
  grid-template-rows: 20% 15% 15% 20% 30%;
}

.login div{
  margin-top: 30px;
  margin-left: 50px;
  justify-self: start;
  font-size: 35px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}

.login button{
  margin-top: 50px;
  margin-left: 50px;
  margin-bottom: 0;
  font-size: 20px;
  height: 30px;
  width: 405px;
  background: #094183;
  color: white;
}

.login .button{
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.signup{
  position:relative;
  margin-top: 50px;
  left: 35%;
  width: 30%;
  height: 600px;
  background: white;
  display: grid;
  grid-template-rows: 15% 10% 10% 10% 10% 10% 8%;
  justify-items: center;
}

.signup button{
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 20px;
  height: 30px;
  width: 405px;
  background: #094183;
  color: white;
}

.signup .button{
  color: white;
  text-decoration: none;
  font-size: 20px;
}


.home{
  background:white;
  padding-top: 100px;
  font-family: 'Roboto', sans-serif;
}

.collaboration{
  display:flex;
  align-content: center;
  justify-content: center;
  margin: 100px;

}

.image{
  margin-left: 40px;
  margin-right: 40px;
  height: 80px;
}

.aboutUs{
  background: white;
  padding: 50px 200px 50px 200px;
  text-align: justify;
}

.input-container input{
  border:none;
  border-bottom:1px solid #555;
  background:transparent;
  width:400px;
  padding:8px 0 5px 0;
  font-size:16px;
}

.input-container input:focus{
  border:none;
  outline:none;
  border-bottom:1px solid black;
}

.selection{
  width: 400px;
  font-size: 18px;
  justify-self: start;
  margin-left: 100px;
  display: grid;
  grid-column-gap: 20px;
  grid-template-columns: 20% 30% 40%;
  align-content:center;
}

.white-container{
  background: white;
}

#logo{
  margin-left: 100px;
  width : 150px;
  height : 150px;
}

#login-link{
  font-size: 20px;
  font-weight: normal;
}

#login-link .sublink{
  text-decoration: none;
  color:black;
  margin: 10px;
}

#login-link .sublink:hover{
  text-decoration: underline;
}

.home-navi-links{
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}