@import url('https://fonts.googleapis.com/css?family=Noto+Serif&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');

/* GLOBAL TAGS*/
body{
  background-color: transparent;
  margin: 0;
  padding: 0;
  border-radius: 0;
}

footer{
  height:100px;
  font-size: 20px;
  padding: 0 100px;
  background-color: #094183;
  display:grid;
  grid-template-columns: 76% 24%;
  grid-gap: 4em;
  align-items: center;
  color:white ;
  font-family: 'Roboto', sans-serif;
}

.white-container{
  background: white;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 100px;
}

.white-container2{
  background: white;
  align-items: center;
}

/* SPECIFIC ID TAGS*/
#logo{
  margin-left: 100px;
  width : 150px;
  height : 150px;
}

#login-link{
  font-size: 20px;
  font-weight: normal;
}

#login-link .sublink{
  text-decoration: none;
  color:black;
  margin: 10px;
}

#login-link .sublink:hover{
  text-decoration: underline;
}

#DoB{
  width: 12.5vw;
  height: 1.5vw;
  border-radius: 0;
}

#prev{
  background: slategray;
}

/* BACKGROUND TAGS */
.DefaultApp{
  zoom: 90%;
  position:relative;
  min-width:100%;
  min-height: 100%;
  text-align: center;
  font-family: 'Noto Serif', sans-serif;
  background:linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ),  url('images/forest.jpg') no-repeat;
  background-size: 100% 30%;
}

.LoginApp {
  zoom: 90%;
  position:absolute;
  overflow: auto;
  min-width:100%;
  min-height: 100%;
  text-align: center;
  font-family: 'Noto Serif', sans-serif;
  background: url("images/Login.jpg") center/cover no-repeat;
}

.AppointmentApp{
  zoom: 90%;
  position: relative;
  overflow: auto;
  min-width:100%;
  min-height: 100%;
  text-align: center;
  font-family: 'Noto Serif', sans-serif;
  background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url('images/Unimelb.jpg');
  background-size: 100% 80%;
}

.VaccinesApp{
  zoom: 90%;
  position:relative;
  min-width:100%;
  min-height: 100%;
  text-align: center;
  font-family: 'Noto Serif', sans-serif;
  background: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) ), url('images/Vaccines.jpg') no-repeat;
  background-size: 100% 30%;
}

.PatientApp{
  zoom: 90%;
  position:relative;
  min-width:100%;
  min-height: 100%;
  text-align: center;
  font-family: 'Noto Serif', sans-serif;
  background: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) ), url('images/glasses.png') no-repeat;
  background-size: 100% 50%;
}

.FacultiesApp{
  zoom: 90%;
  position:relative;
  min-width:100%;
  min-height: 100%;
  text-align: center;
  font-family: 'Noto Serif', sans-serif;
  background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url('images/buildings.jpg') no-repeat;
  background-size: 100% 50%;
}

/* NAVBAR AND FOOTER TAGS */
.navbar{
  height : 200px;
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: 10% 90%;
  justify-items: center;
  align-items: center;
}

.navbar div{
  justify-self: end;
}

.links{
  font-size: 22px;
  text-decoration: none;
  color: white;
  text-shadow: 0 0 2px;
  margin: 50px;
}

.links:Hover{
  box-shadow: 4px 4px #094183;
  text-decoration: none;
  color:#094183;
}

.message{
  font-size: 20px;
  padding-bottom: 50px;
  text-shadow: 0 0 1px;
  margin-left: 300px;
  text-align: start;
  color: white;
}

.footer{
  align-self:initial;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  align-items: center;
  background: #094183;
}

/* HOME PAGE TAGS */
.home{
  background:white;
  padding-top: 100px;
  font-family: 'Roboto', sans-serif;
  padding-bottom: 100px;
  text-align: center;
}

.home-article{
  display: flex;
  margin-top: 150px;
  justify-content: space-evenly;

}

.home-container{
  font-family: 'Noto Serif', sans-serif;
  text-align: justify;
  border-radius: 20px;
  border: 2px solid black;
  padding: 20px;
  width: 400px;
  height: 400px;
}

.home-background1{
  color: whitesmoke;
  border-radius: 20px;
  opacity: 0.9;
  background:  linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) ), url("images/girl.png") center/cover no-repeat;
}

.home-background2{
  color: black;
  border-radius: 20px;
  opacity: 0.9;
  background:  linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) ), url("images/facilities.png") center/cover no-repeat;
}

.home-background3{
  color: whitesmoke;
  border-radius: 20px;
  opacity: 0.9;
  background:  linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) ), url("images/bluevirus.png") center/cover no-repeat;
}

.home-links{
  position: relative;
  left: 7vw;
  border-style: solid;
  border-radius: 20px;
  padding: 5px;
  font-size: 22px;
  text-decoration: none;
  color: whitesmoke;
  text-shadow: 0 0 2px;
}

.home-links:Hover{
  box-shadow: 5px 10px black;
  text-decoration: underline;
  background: #094183;
  color: black;
}


.collaboration{
  display:flex;
  align-content: center;
  justify-content: center;
  margin: 100px;

}

.image{
  margin-left: 40px;
  margin-right: 40px;
  height: 80px;
}

.aboutUs{
  background: white;
  padding: 50px 200px 50px 200px;
  text-align: justify;
}

/* LOGIN AND SIGN UP TAGS */
.login{
  position:relative;
  margin-top: 50px;
  left: 35%;
  width: 30%;
  height: 400px;
  background: white;
  display: grid;
  grid-template-rows: 20% 15% 15% 20% 30%;
  justify-items: start;
}

.input-container input{
  border:none;
  border-bottom:1px solid #555;
  background:transparent;
  width:24vw;
  padding:8px 0 5px 0;
  font-size:16px;
}

.input-container input:focus{
  border:none;
  outline:none;
  border-bottom:1px solid black;
}

.login div{
  margin-top: 30px;
  margin-left: 50px;
  justify-self: start;
  font-size: 35px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}

#btn-log{
  margin-top: 0;
  margin-left: 0;
}

.login button{
  margin-top: 50px;
  margin-left: 50px;
  margin-bottom: 0;
  font-size: 20px;
  height: 30px;
  width: 24vw;
  background: #094183;
  color: white;
}

.login .button{
  height: 30px;
  color: white;
  text-decoration: none;
  cursor: context-menu;
}

.alert{
  position:relative;
  margin: 0;
  padding: 0;
  border-radius: 0;
  font-size: 20px;
  width: 33.5vw;
  left: 35%;
  background: white;
  color: red;
  font-weight: bold;
}

.signup{
  position:relative;
  margin-top: 50px;
  left: 35%;
  width: 30%;
  height: 60vh;
  background: white;
  display: grid;
  grid-template-rows: 15% 10% 10% 10% 10% 10% 8%;
  justify-items: center;
  font-family: 'Roboto', sans-serif;
}

.signup div{
  margin-left: 60px;
  justify-self: start;
}

.signup button{
  margin-top: 10px;
  margin-bottom: 0;
  margin-left: 20px;
  font-size: 20px;
  height: 30px;
  width: 12vw;
  background: #094183;
  color: white;
}

.signup .button{
   color: white;
   text-decoration: none;
   font-size: 20px;
   cursor: context-menu;
 }

#btn-sign{
  margin-top: 0;
  margin-left: 2vw;
}

.confirm{
  position:relative;
  margin-top: 50px;
  left: 35%;
  width: 30%;
  height: 60vh;
  background: white;
  display: grid;
  grid-template-rows: 15% 8% 8% 8% 8% 8% 8% 8%;
  justify-items: center;
  font-family: 'Roboto', sans-serif;
}

.confirm div{
  justify-self: start;
  margin-left:70px;
  font-size: 20px;
}

.confirm button{
  margin-top: 0;
  margin-left: 20px;
  margin-bottom: 0;
  font-size: 20px;
  height: 30px;
  width: 12vw;
  background: #094183;
  color: white;
}

.confirm .button{
  color: white;
  text-decoration: none;
  font-size: 20px;
  cursor: context-menu;
}

.selection{
  font-size: 20px;
  justify-self: start;
  display: grid;
  grid-template-columns: 20% 35% 50%;
  align-content: center;
}

.selection div{
  font-weight: normal;
  margin-left: 0;
}

.selection *{
  height: 20px;
  font-size: 18px;
}

/* VACCINES TAGS*/
.itemTitle{
  background: white;
  align-items: center;
  padding-bottom: 100px;
}

.content-table {
  border-collapse: collapse;
  margin: 0 auto;
  font-size: 2em;
  min-width: 600px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr {
  font-family: sans-serif;
  background-color: #009879;
  color: #ffffff;
  text-align: center;
  font-weight: bold;
}

.content-table th{
  padding: 12px 15px;
}

.content-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.content-table tbody tr.colorful-row {
  font-weight: bold;
  color: #009879;
}

/* PATIENTS TAGS*/
.patients-review{
  display: grid;
  grid-template-columns: 40% 60%;
  height: 50vh;
  align-items: center;
}

.patients-review2{
  display: grid;
  grid-template-columns: 60% 40%;
  height: 50vh;
  background: deepskyblue;
  align-items: center;
}