.App {
  text-align: center;
}

Nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 30vh;
  background: url("./Home.jpg") center/cover no-repeat;
  color: rgb(255, 255, 255);
}

.Navi-links{
  height: 10px;
  width: 40%;
  display: flex;
  justify-content: space-around;
  font-size: 25px;
  padding: 14px;
  text-decoration: none;
  align-items: center;
  list-style: none;
}

.Navi-links a:hover {
  background-color: #ddd;
  color: black;
}
